<div class="row justify-content-center">
  <div class="col-10 col-sm-6" style="border: 1px solid red;">
    <h1>Sign up</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="field mb-3">
        <%= f.label :email, class: "form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col form-control" %>
      </div>

      <div class="field mb-3">
        <%= f.label :password, class: "form-label" %>
        <% if @minimum_password_length %>
        <small>(<%= @minimum_password_length %> characters minimum)</small>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "col form-control" %>
      </div>

      <div class="field mb-3">
        <%= f.label :password_confirmation, class: "form-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
