<%# testing %>
<small style="font-size:10px;">
  <%= "Access Valid: #{current_user.access_token_expiration > DateTime.current}" %>
</small>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <% if @track_items %>
      <% @track_items.each do |track_item| %>
        <div class="card border-success text-center mb-3">
          <div class="card-body text-success d-flex flex-column flex-md-row justify-content-around align-items-center">
            <!--<div class="track-names flex-grow-1 mr-md-5 border-sm">-->
            <div class="track-names flex-grow-1 border-sm">
              <h5 class="card-title"><%= track_item.name %></h5>
              <p class="card-text mb-3 mb-md-0"><%= track_item.artist %></p>
            </div>
            <div>
              <!--<% url = track_item.album_link.split('/').last %>
              <iframe src="https://open.spotify.com/embed/track/<%= url %>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>-->
            </div>
          </div>
          <div class="card-footer">
            <small><%= time_ago_in_words(track_item.played_at) %> ago</small>
            <%= link_to 'Go to Album', track_item.album_link, class: 'btn btn-sm btn-outline-success', target: '_blank' %>
            <%= link_to 'Preview Track', track_item.preview_link, class: 'btn btn-sm btn-outline-success', target: '_blank' %>
          </div>
        </div>
      <% end %>
    <% else%>
      <h3>You need to authorize Spotify first to see your tracks</h3>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>
