<%# testing %>
<small style="font-size:10px;">
  <%= "Access Exists: #{Rails.cache.exist?(:access_token)}" %>
</small>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <% if @track_items %>
      <% @track_items.each do |track_item| %>
        <div class="card border-success text-center mb-3">
          <div class="card-body text-success">
            <h5 class="card-title"><%= track_item.name %></h5>
            <p class="card-text"><%= track_item.artist %></p>
          </div>
          <div class="card-footer">
            <small><%= time_ago_in_words(track_item.played_at) %> ago</small>
            <%= link_to 'Go to Album', track_item.album_link, class: 'btn btn-sm btn-outline-success', target: '_blank' %>
            <%= link_to 'Preview Track', track_item.preview_link, class: 'btn btn-sm btn-outline-success', target: '_blank' %>
            <!--<% url = track_item.album_link.split('/').last %>
            <iframe src="https://open.spotify.com/embed/track/<%= url %>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>-->
          </div>
        </div>
      <% end %>
    <% else%>
      <h3>You need to authorize Spotify first to see your tracks</h3>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>
