<%# testing %>
<small style="font-size:10px;">
  <%= "Access Exists: #{Rails.cache.exist?(:access_token)}" %>
</small>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <% if @track_items %>
      <% @track_items.each do |track_item| %>
        <div class="card border-success text-center mb-3">
          <div class="card-body text-success">
            <h5 class="card-title"><%= track_item['track']['name'] %></h5>
            <p class="card-text"><%= track_item['track']['artists'][0]['name'] %></p>
          </div>
        </div>
        <!--<span>Artist: <%= track_item['track']['artists'][0]['name'] %></span><br>
        <span>Track: <%= track_item['track']['name'] %></span><br/><br/>-->
      <% end %>
    <% else%>
      <h3>You need to authorize Spotify first to see your tracks</h3>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>
