<h1>Homepage</h1>
<%= params.inspect %>
<br />
<%= "Refresh: is nil? #{Rails.cache.fetch(:refresh_token).nil?}" %>
<%= "Refresh exist? #{Rails.cache.exist?(:refresh_token)}" %>
<br />
<%= "Access: is nil? #{Rails.cache.fetch(:access_token).nil?}" %>
<%= "Access exist? #{Rails.cache.exist?(:access_token)}" %>
<br />

<!--Check refresh token? so only have to check once -->
<% unless Rails.cache.fetch(:refresh_token) %>
  <h3>Authorize Spotify to get going.</h3>
  <%= link_to 'Authorize Spotify', authorize_path, class: 'btn btn-primary', id: 'authorize-btn' %>
<% end %>
