<h1>Homepage</h1>
<%= params.inspect %>
<br />
<%= "Refresh: is nil? #{Rails.cache.fetch(:refresh_token).nil?}" %>
<br />
<%= "Access: is nil? #{Rails.cache.fetch(:access_token).nil?}" %>
<br />

<!--Check refresh token? so only have to check once -->
<% unless Rails.cache.fetch(:refresh_token) %>
  <h3>Authorise Spotify to get going.</h3>
  <%# <%= link_to 'Authorize Spotify', authorize_path, class: 'btn btn-primary', id: 'authorise-btn' %> %>
  <%= link_to 'Authorize Spotify', 'http://google.com', class: 'btn btn-primary', id: 'authorise-btn' %>
<% end %>
